# Ignore development files and directories
**/__tests__
**/.git
**/.next
**/node_modules
**/*.log
**/*.gz
**/*.tgz
**/.yarn
yarn.lock

# Ignore build artifacts
**/.next

# Ignore other files
.DS_Store
yarn-error.log

# Ignore the .env file
.env.local